<main class="container center">
  <pb-breadcrumb></pb-breadcrumb>
  <!-- This is an A11y Change-->
  <!-- This is an Semantic HTML Change-->
  <section class="page-area" aria-live="polite" id="mainPage">

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
                title="Stay on track"
                content="Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!">
      >
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
             title="Alerts"
             content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget."
    >
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
    title="Results"
    content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.">
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
    title="Free"
    content="This app is free!!! And you are the only one holding your data!">
    </pb-article>

    <pb-article class="text-box"
                title="Stay on track"
                content="Do you know where you are spending your money? If you really stop to track it down,
        you would get surprised! Proper budget management depends on real data... and this
        app will help you with that!">
      >
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
                title="Alerts"
                content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget."
    >
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
                title="Results"
                content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.">
    </pb-article>

    <!-- This is an Semantic HTML Change-->
    <pb-article class="text-box"
                title="Free"
                content="This app is free!!! And you are the only one holding your data!">
    </pb-article>


    <article class="text-box">
      <h1>Chart.js</h1>
      <canvas baseChart
              [type]="'pie'"
              [datasets]="pieChartDatasets"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
      </canvas>
    </article>

    <article class="d3-chart">
      <h1>D3.js</h1>
      <figure id="bar"></figure>
    </article>

  </section>

</main>
